/* @font-face {
  font-family: "tf2build";
  src: url("https://onepunchmanatee.github.io/CTK303-main/javascript/tf2build.woff2")
    format("woff2");
  src: url("tf2build.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 80%;
    background-color: #18193D;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-radius: 30px;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  #EOECanvas {
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 15px;
    grid-column: span 12;
  }

canvas {
   width: 100%!important;
}
