@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'tf2build';
    src: url('tf2build-webfont.woff2') format('woff2');
    src: url('tf2build-webfont.woff') format('woff');
  }
  
  @font-face {
      font-family: 'tf2secondary';
      src: url('tf2secondary-webfont.woff2') format('woff2'),
           url('tf2secondary-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }  

  @font-face {
    font-family: 'centold';
         src: url('centold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'prof';
         src: url('tf2professor.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav {
    background-color: #2C1842;
    position: fixed;
    height: 4rem;
    margin: 0px;
    width: 100%;
    font-family: "tf2build";
    display: flex;
    /* align-items: center; */
    padding-top: .5rem;
    z-index: 2000;
    /* text-align: left; */
}

#teamheader {
    margin-top: 5rem;
    padding-top: -5rem;
}

nav img {
    display: inline;
    max-height: 3rem;
    padding-left: 1rem;
}

nav ul {
    display: inline;
    margin: 0px;
}

nav li {
    display: inline;
    padding: 15px;
}

body {
    margin: 0px;
}

a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
    
}

nav a:hover {
    color: lightgray;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

main {
    background-color: #AC7BE0;
    text-align: center;
    font-family: centold;
    color: white;
    padding: 0px;
}


main img {
    max-width: 100%;
    margin: 0px;
    margin-top: 4rem;
    
}

h1 {
    padding: 0px;
    margin: 0px;
    margin-top: 5rem;
    letter-spacing: 2px;
    
}

.promo {
    background-image: url("sollyspookybanner.png");
    background-size: 460%;
    height: width/5;
}

.myBorder{
    border-bottom: 1px solid #9168BD;
}

.btn {
    background-color: #9168BD;
    color: white;
    font-family: tf2build;
    transition: background-color 1s ease;
}

.btn:hover{
    background-color: #775898;
}

#herovideo {
    position: relative;
    /* height: 60vh; */
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #AC7BE0;
    font-family: tf2secondary;
}

footer a:hover, a:active, a:visited{
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: lightgray;
}

footer a {
    color: white;
}

footer img {
    max-height: 7rem;
    margin-left: 0%;
    display: inline;
}

.item {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: center;
    text-align: center;
}

p, h1 {
    text-shadow: 1px 1px 6px rgba(63, 63, 63, 0.8);
}

footer p{
    /* text-shadow: none; */
    padding: 2rem;
}

#hero {
    position: relative;
    height: auto;
    width: auto;
    max-width: 100%;
}

#hero img{
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}

#herotext {
    margin-left: 12%;
    margin-top: 5rem;
    scale: 1.25;
    opacity: 0;
    animation: fadeIn 2.5s ease forwards;
    position: absolute;
}

#tbtcast {
    opacity: 0;
    animation: fadeIn 4s ease forwards;
    position: absolute;
}

#wrapper {
    width: 60%;
    /* border: 1px solid pink; */
    display: flex;
    justify-content: center;
    text-align: center;
}

#stats {
    font-family: tf2build;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    nav {
        text-align: left; /* Align left for larger screens */
    }

    #teamheader{
        margin-top: 12rem;
    }

    .indent-left {
        margin-left: 15%; /* Indent the first image and unordered list from the left */
    }

    .indent-right {
        margin-right: 15%; /* Indent the last image from the right */
    }
    .promo {
        background-size: cover;
    }
    nav img{
        padding-left: 10rem;
    }
    #rgl {
        position: absolute;
        right:15%;
    }
    footer img {
        margin-top: 2.6rem;
    }
}
@media (min-width: 1100px) {
    #rgl {
        position: absolute;
        right:15%;
    }
}